@charset "utf-8";

$naGo :'Nanum Gothic Coding', monospace;
$BlHan : 'Black Han Sans', sans-serif;
$Noto : 'Noto Sans KR', sans-serif;

$mobile: 640px;
$tablet: 768px;
$laptop: 1020px;
$desktop: 1400px;
$black : #000;
$white : #fff;
$green :  #00B900;
$gray : #777;

a{text-decoration: none; color: navy;}
button{outline: none; border: none;}

@keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

body{
    max-width: 100vw;
    // min-height: 100vh;
    background-color: $white;
}


